body {
    background-color: #8bcdcd;
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
}
.imgg{
    margin-top: 70px;
    margin-bottom: 45px;
    margin-left: 410px;
}
.table{
    text-align: center;
}
.car{
    margin-left: 225px;

}
h1 {
    margin-top: 0;
}
.exa{
    width: 400px;
    height: 180px;
    border-collapse: collapse;
    border:  solid black;
    text-align: center;
    margin-left: 70px;
}
th, td {border:  solid black;}
.exaa{
    width: 400px;
    height: 180px;
    border-collapse: collapse;
    border:  solid black;
    text-align: center;
}
.table-1{
    display: inline-block;
    margin-left: 16%;
}
.table-2{
    display: inline-block;
}
.footer{
    background-color: black;
    color:red;
    margin:0;
}
.footer a{
    color: white;
}
